<!DOCTYPE html>
{% load static %}
{% load i18n %}
<html lang="en">


<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ intervention.title }} | Ensar Deniz</title>
    <link rel="canonical" href="index.html"/>
    <base >
    <meta name="description" content="If you're facing challenges in your life or simply want to improve your psychological well-being, we're here to help. Our practice offers support for a wide range of concerns, including anxiety, ADHD, depression, trauma, and relationship difficulties. We focus not only on symptom relief but also on empowering you with the knowledge and tools to effectively manage, reduce, and even overcome the obstacles you're facing. Together, we can work toward lasting change and greater emotional resilience.">
    <meta name="author" content="Psikolog Ensar Deniz">
    <meta name="keywords" content="psikolog, psikoloji, ruh sagligi, ruh sağlığı, terapi, therapy, danışmanlık, counseling, counsellor, psychologist, psychology">
    <meta name="keywords" content="psikolog, terapi, psikolojik danışmanlık, online terapi, bireysel terapi, çift terapisi, aile terapisi, depresyon, kaygı bozukluğu, anksiyete, stres yönetimi, çocuk psikoloğu, ergen terapisi, EMDR terapisi, panik atak, özgüven eksikliği, travma terapisi, psikoterapi, danışmanlık hizmeti, psikolojik destek, psychologist, therapy, psychotherapy, online therapy, mental health, anxiety, depression, stress management, trauma therapy, counseling, EMDR">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" type="image/x-icon" href="../favicon.webp">

    <link rel="stylesheet" href="../static/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/vendor/slick.css">
    <link rel="stylesheet" href="../static/css/vendor/slick-theme.css">
    <link rel="stylesheet" href="../static/css/plugins/sal.css">
    <link rel="stylesheet" href="../static/css/plugins/feather.css">
    <link rel="stylesheet" href="../static/css/plugins/fontawesome.min.css">
    <link rel="stylesheet" href="../static/css/plugins/euclid-circulara.css">
    <link rel="stylesheet" href="../static/css/plugins/swiper.css">
    <link rel="stylesheet" href="../static/css/plugins/magnify.css">
    <link rel="stylesheet" href="../static/css/plugins/odometer.css">
    <link rel="stylesheet" href="../static/css/plugins/animation.css">
    <link rel="stylesheet" href="../static/css/plugins/bootstrap-select.min.css">
    <link rel="stylesheet" href="../static/css/plugins/jquery-ui.css">
    <link rel="stylesheet" href="../static/css/plugins/magnigy-popup.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js/vendor/bootstrap.min.js"></script>
    
    <script src="../static/js/vendor/jquery.js"></script>

    <script src="../static/js/vue.js"></script>
    <script src="http://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <!-- Meta Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window, document,'script',
            '../../connect.facebook.net/en_US/fbevents.js');
        fbq('init', '1152557622805558');
        fbq('track', 'PageView');
    </script>
    <noscript><img loading="lazy" height="1" width="1" style="display:none"
        src="https://www.facebook.com/tr?id=1152557622805558&amp;ev=PageView&amp;noscript=1"
        /></noscript>
        <!-- End Meta Pixel Code -->



        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-S9TWP7FWTJ"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'G-S9TWP7FWTJ');
      </script>
      <!-- Google tag (gtag.js) end -->

  </head>

  <body class="rbt-header-sticky">
    <div id="app">
        <header class="rbt-header rbt-header-9">
            <!-- Start Header Area -->
            {% include '../header.html' %}
            <!-- End Header Top -->
            {% include '../navbar.html' %}
        </header>

        <!-- Mobile Menu Section -->
        {% include '../mobile-section.html' %}
    </div>


<!-- Start Side Vav -->
<div class="rbt-cart-side-menu">
    <div class="inner-wrapper">
        <div class="inner-top">
            <div class="content">
                <div class="title">
                    <h4 class="title mb--0">Liste</h4>
                </div>
                <div class="rbt-btn-close" id="btn_sideNavClose">
                    <button class="minicart-close-button rbt-round-btn"><i class="feather-x"></i></button>
                </div>
            </div>
        </div>
        <nav class="side-nav w-100">
            <ul class="rbt-minicart-wrapper">

                <li class="minicart-item" v-for="(item,index) in sepet"  v-if="sepetCount > 0">
                    <div class="thumbnail">
                        <a :href="'uygulama/'+item.uygulamaurl" :title="item.uygulamabaslik">
                            <img loading="lazy" :src="item.uygulamagorsel" :alt="item.uygulamabaslik">
                        </a>
                    </div>
                    <div class="product-content">
                        <h6 class="title"><a :href="'uygulama/'+item.uygulamaurl" :title="item.uygulamabaslik">{{item.uygulamabaslik}}</a></h6>

                        <span class="quantity" v-if="item.uygulamaindirimlifiyat > 0">{{item.adet}} * <span class="price">{{item.uygulamaindirimlifiyat}}₺</span></span>
                        <span class="quantity" v-else="item.uygulamafiyat">{{item.adet}} * <span class="price">{{item.uygulamafiyat}}₺</span></span>
                    </div>
                    <div class="close-btn">
                        <button class="rbt-round-btn"  @click="sepetUrunSil(index)" ><i class="feather-x"></i></button>
                    </div>
                </li>
                

                <li class="minicart-item" v-for="(item,index) in seansSepet"  v-if="seansSepetCount > 0">
                    <div class="thumbnail">
                        <a :href="'seans/'+item.seansurl" :title="item.seansbaslik">
                            <img loading="lazy" :src="item.seansgorsel" :alt="item.seansbaslik">
                        </a>
                    </div>
                    <div class="product-content">
                        <h6 class="title"><a :href="'seans/'+item.seansurl" :title="item.seansbaslik"></a></h6>

                        <span class="quantity" v-if="item.seansindirimlifiyat > 0">{{item.adet}} * <span class="price">{{item.seansindirimlifiyat}}₺</span></span>
                        <span class="quantity" v-else="item.seansfiyat"><span class="price">{{item.seansfiyat}}₺</span> <br> ({{item.seanspaketbaslik}})</span>
                    </div>
                    <div class="close-btn">
                        <button class="rbt-round-btn"  @click="seansSepetUrunSil(index)" ><i class="feather-x"></i></button>
                    </div>
                </li>
                
                <li class="minicart-item" v-if="sepetCount <= 0 && seansSepetCount <= 0">
                    <h5>Listeniz boş.</h5>
                </li>
            </ul>
        </nav>
        
        <div class="rbt-minicart-footer" v-if="sepetCount > 0 || seansSepetCount > 0">
            <hr class="mb--0">
            <div class="rbt-cart-subttotal">
                <p class="subtotal"><strong>Toplam:</strong></p>
                <p class="price">{{sepetToplam}}₺</p>
            </div>
            <hr class="mb--0">
            <div class="rbt-minicart-bottom mt--20">

                <div class="checkout-btn mt--20">
                    <a class="rbt-btn btn-gradient icon-hover w-100 text-center" href="../sepet.html" title="Sepet">
                        <span class="btn-text">Listeyi Görüntüle</span>
                        <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                    </a>
                </div>
            </div>
        </div>
        

    </div>
</div>
<!-- End Side Vav -->
<a class="close_side_menu" href="javascript:void(0);" title="Menüyü Kapat"></a>


<!-- Start breadcrumb Area -->
<div class="rbt-breadcrumb-default rbt-breadcrumb-style-3">
	<div class="breadcrumb-inner">
		<img src="../static/images/bg/bg-image-10.jpg" alt="Uygulamalar">
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<div class="content text-start">
					<ul class="page-list">
						<li class="rbt-breadcrumb-item"><a href="../{% url 'core:home' %}" title="Uygulamalar">{% trans "Uygulamalar" %}</a></li>
						<li>
							<div class="icon-right"><i class="feather-chevron-right"></i></div>
						</li>
						<li class="rbt-breadcrumb-item active">{{ intervention.title }}</li>
					</ul>
					<h2 class="title">{{ intervention.title }}</h2>
					
					<p class="description"></p>

					<div class="d-flex align-items-center mb--20 flex-wrap rbt-course-details-feature">

						<div class="feature-sin best-seller-badge">
							
						</div>

						<!-- <div class="feature-sin rating">
							<a href="#">4.8</a>
							<a href="#"><i class="fa fa-star"></i></a>
							<a href="#"><i class="fa fa-star"></i></a>
							<a href="#"><i class="fa fa-star"></i></a>
							<a href="#"><i class="fa fa-star"></i></a>
							<a href="#"><i class="fa fa-star"></i></a>
						</div>

						<div class="feature-sin total-rating">
							<a class="rbt-badge-4" href="#">0 Yorum</a>
						</div>

						 <div class="feature-sin total-student">
							<span>9 Katılımcı</span>
						</div> -->

					</div>



					<!-- <ul class="rbt-meta">
						<li><i class="feather-star"></i>Tüm akıllı cihazlardan erişim</li>
					</ul> -->

				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Breadcrumb Area -->

<div class="rbt-course-details-area ptb--60">
	<div class="container">
		<div class="row g-5">

			<div class="col-lg-8">
				<div class="course-details-content">
					<div class="rbt-course-feature-box rbt-shadow-box thuumbnail">
						<img class="w-100" src="{{ intervention.image.url }}" alt="{{ intervention.title }}" style="width: 400px; height: 400px;">
					</div>

					

					
						<div class="rbt-instructor rbt-shadow-box intructor-wrapper comment-respond">
							<h4 class="title">{{ intervention.title }}</h4>
															<p>{{ intervention.description }}</p>
								<!-- <a href="../giris-yap.html" class="rbt-btn btn-gradient icon-hover radius-round btn-md">Giriş Yap</a> -->
																				</div>
					</div>

				</div>

				
			</div>
		</div>
	</div>

	<div class="rbt-separator-mid">
		<div class="container">
			<hr class="rbt-separator m-0">
		</div>
	</div>

	

	

	<div class="rbt-separator-mid">
		<div class="container">
			<hr class="rbt-separator m-0">
		</div>
	</div>

	<!-- Start Footer aera -->
    {% include '../footer.html' %}
    <!-- End Footer aera -->
<div class="rbt-progress-parent">
    <svg class="rbt-back-circle svg-inner" width="100%" height="100%" viewBox="-1 -1 102 102">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
    </svg>
</div>
    <div class="whatsapp hidden-sm" id="scroll-to-top2">
        <a href="https://wa.me/05367169453" target="_blank"
            title="Whatsapp İletişim Hattı"><img loading="lazy" src="/static/whatsapp.png"></a>
    </div>
    <div class="whatsapp hidden-sm" id="scroll-to-top2">
        <a class=""
            href="https://api.whatsapp.com/send?phone=05367169453&amp;text=Merhaba%20bilgi%20almak%20%C4%B0stiyorum&amp;source=&amp;data="
            title="Whatsapp İletişim Hattı" target="_blank">
            <img loading="lazy" src="/static/whatsapp.png">
        </a>
    </div>
</div>

<!-- <script src="static/js/custom.js"></script>-->

<script src="../static/js/customd8a8.js?v=20250313"></script>





<!-- JS
        ============================================ -->
<!-- Modernizer JS -->
<script src="../static/js/vendor/modernizr.min.js"></script>

<!-- Bootstrap JS -->
<!-- sal.js -->
<script src="../static/js/vendor/sal.js"></script>
<script src="../static/js/vendor/swiper.js"></script>
<script src="../static/js/vendor/magnify.min.js"></script>
<script src="../static/js/vendor/jquery-appear.js"></script>
<script src="../static/js/vendor/odometer.js"></script>
<script src="../static/js/vendor/backtotop.js"></script>
<script src="../static/js/vendor/isotop.js"></script>
<script src="../static/js/vendor/imageloaded.js"></script>

<script src="../static/js/vendor/wow.js"></script>
<script src="../static/js/vendor/waypoint.min.js"></script>
<script src="../static/js/vendor/easypie.js"></script>
<script src="../static/js/vendor/text-type.js"></script>
<script src="../static/js/vendor/jquery-one-page-nav.js"></script>
<script src="../static/js/vendor/bootstrap-select.min.js"></script>
<script src="../static/js/vendor/jquery-ui.js"></script>
<script src="../static/js/vendor/magnify-popup.min.js"></script>
<script src="../static/js/vendor/paralax-scroll.js"></script>
<script src="../static/js/vendor/paralax.min.js"></script>
<script src="../static/js/vendor/countdown.js"></script>
<!-- Main JS -->
<script src="../static/js/main.js"></script>

</body>


</html>