{% load i18n %}
<footer class="rbt-footer footer-style-1 bg-color-white overflow-hidden">
    <div class="footer-top">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="footer-widget">
                        <div class="logo" style="max-height:140px; width: 200px;">
                        </div>

                        <p class="description mt--20">{% blocktrans %}Yetişkin, ergen, çocuk, çift, ve ailelere psikoterapi hizmetleri sunmaktayız.{% endblocktrans %}
                        </p>

                        <ul class="social-icon social-default justify-content-start">
                            <li>
                                <a href="https://www.instagram.com/psikologensardeniz" target="_blank"
                                    title="Instagram Adresim">
                                    <i class="feather-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/in/ensar-deniz-b9ba79211?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank"
                                    title="LinkedIn Adresim">
                                    <i class="feather-linkedin"></i>
                                </a>
                            </li>
                        </ul>

                        <div class="contact-btn mt--30">
                            <a class="rbt-btn hover-icon-reverse btn-border-gradient radius-round" href="{% url 'core:iletisim' %}"
                                title="İletişim">
                                <div class="icon-reverse-wrapper">
                                    <span class="btn-text">{% trans "İletişime Geç" %}</span>
                                    <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                    <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-6 col-sm-6 col-12">
                    <div class="footer-widget">
                        <h5 class="ft-title">{% trans "Uygulamalar" %}</h5>
                        <ul class="ft-link">
                            {% for intervention in interventions %}
                            <li>
                                <a href="{% url 'core:uygulama_detay' intervention.slug %}"
                                    title="{{ intervention.title }}">
                                    {{ intervention.title }}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="footer-widget">
                        <h5 class="ft-title">{% if request.LANGUAGE_CODE == 'en' %} Counselling {% else %} Terapi Hizmetleri {% endif %}</h5>
                        <ul class="ft-link">
                            <li>
                                <a href="{% url 'core:hakkimizda' %}" title="Hakkımızda">{% trans "Hakkımızda" %}</a>
                            </li>
                            <li>
                                <a href="{% url 'core:ilkelerimiz' %}" title="İlkelerimiz">{% trans "İlkelerimiz" %}</a>
                            </li>
                            <li>
                                <a href="{% url 'users:randevu_olustur' %}" title="Randevu">{% trans "Randevu" %}</a>
                            </li>
                            <li>
                                <a href="{% url 'core:blog' %}" title="Blog">{% trans "Blog" %}</a>
                            </li>
                            <li><a href="/static/online-danismanlik-onam-formu.pdf" title="Danışmanlık Onam Formu"
                                    target="_blank">{% if request.LANGUAGE_CODE == 'en' %} Informed Consent Form {% else %} Danışmanlık Onam Formu {% endif %}</a></li>
                            <li>
                                <a href="{% url 'core:iletisim' %}" title="İletişim">{% trans "İletişim" %}</a>
                            </li>

                        </ul>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                    <div class="footer-widget">
                        <h5 class="ft-title">{% trans "İletişim" %}</h5>
                        <ul class="ft-link">
                            <li><span><i class="fa fa-phone"></i></span> <a href="tel:0531 767 2450"
                                    >0531 767 2450</a></li>
                            <li><span><i class="fa fa-envelope"></i></span> <a
                                    href="mailto:info@pskensardeniz.com"
                                    >info@pskensardeniz.com</a></li>
                            <!-- <li><a><span><i class="fa fa-map"></i></span>
                                    Adres</a></li> -->
                        </ul>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="rbt-separator-mid">
        <div class="container">
            <hr class="rbt-separator m-0">
        </div>
    </div>
    <!-- Start Copyright Area  -->
    <div class="copyright-area copyright-style-1 ptb--20">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-12">
                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-12">
                    <ul
                        class="copyright-link rbt-link-hover justify-content-center justify-content-lg-end mt_sm--10 mt_md--10">


                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Copyright Area  -->
</footer>