{% load i18n %}
{% load static %}
<div class="popup-mobile-menu">
    <div class="inner-wrapper">
        <div class="inner-top">
            <div class="content">
                <div>
                    <a href="{% url 'core:home' %}" title="Psk Ensar Deniz">
                        <img loading="lazy" style="height: 400px;" src="{% static 'images/ensar-img2.jpg' %}" alt="Psk Ensar Deniz">
                    </a>
                </div>
                <div class="rbt-btn-close">
                    <button class="close-button rbt-round-btn"><i class="feather-x"></i></button>
                </div>
            </div>
            
            <ul class="navbar-top-left rbt-information-list justify-content-start">
                                    <li>
                        <a href="mailto:info@pskensardeniz.com" title="Email Adresimiz"><i class="feather-mail"></i>info@pskensardeniz.com</a>
                    </li>
                                                    <li>
                        <a href="tel:05317672450" title="Telefon Numaramız"><i class="feather-phone"></i>0531 767 2450</a>
                    </li>
                            </ul>
        </div>

        <nav class="mainmenu-nav">
            <ul class="mainmenu">
                <li class="position-static">
                    <a href="{% url 'core:home' %}" title="Ana Sayfa">{% trans "Ana Sayfa" %}</a>
                </li>


                <li class="has-dropdown has-menu-child-item">
                    <a href="#" title="Kurumsal">{% trans "Kurumsal" %}
                        <i class="feather-chevron-down"></i>
                    </a>
                    <ul class="submenu">
                            <li class=""><a href="{% url 'core:hakkimizda' %}" title="Hakkımızda">{% trans "Hakkımızda" %}</a></li>
                            <li class=""><a href="{% url 'core:ilkelerimiz' %}" title="İlkelerimiz">{% trans "İlkelerimiz" %}</a></li>

                    </ul>
                </li>


                <li class="has-dropdown has-menu-child-item">
                    <a href="#" title="Uygulamalar">{% trans "Uygulamalar" %}
                        <i class="feather-chevron-down"></i>
                    </a>
                    <ul class="submenu">
                        {% for intervention in interventions %}
                        <li class=""><a href="{% url 'core:uygulama_detay' intervention.slug %}" title="{{ intervention.title }}">{{ intervention.title }}</a></li>
                        {% endfor %}
                    </ul>
                </li>

                <li class="position-static">
                    <a href="{% url 'core:blog' %}" title="Blog">Blog</a>
                </li>

                <li class="position-static">
                    <a href="{% url 'core:iletisim' %}" title="İletişim">{% trans "İletişim" %}</a>
                </li>

            </ul>
        </nav>

        <div class="mobile-menu-bottom">
                            <div class="rbt-btn-wrapper mb--20">
                    <a class="rbt-btn btn-border-gradient radius-round btn-sm hover-transform-none w-100 justify-content-center text-center" href="{% url 'users:login' %}" title="Giriş Yap">
                        <span>{% trans "Giriş Yap" %}</span>
                    </a>
                </div>
            
            <div class="social-share-wrapper">
                <span class="rbt-short-title d-block">{% trans "Sosyal Medya" %}</span>
                <ul class="social-icon social-default transparent-with-border justify-content-start mt--20">
                
                                    <li>
                        <a href="https://www.instagram.com/psikologensardeniz" target="_blank" title="Instagram Adresim">
                            <i class="feather-instagram"></i>
                        </a>
                    </li>

                                    <li>
                        <a href="https://www.linkedin.com/in/ensar-deniz-b9ba79211?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank" title="LinkedIn Adresim">
                            <i class="feather-linkedin"></i>
                        </a>
                    </li>
                
            </ul>
        </div>
    </div>

</div>