<div class="popup-mobile-menu">
    <div class="inner-wrapper">
        <div class="inner-top">
            <div class="content">
                <div class="logo">
                    <a href="{% url 'core:home' %}" title="Psk Ensar Deniz">
                        <img loading="lazy" src="resimler/header-logo.png" alt="Psk Ensar Deniz">
                    </a>
                </div>
                <div class="rbt-btn-close">
                    <button class="close-button rbt-round-btn"><i class="feather-x"></i></button>
                </div>
            </div>
            
            <ul class="navbar-top-left rbt-information-list justify-content-start">
                                    <li>
                        <a href="mailto:info@psikosaglikdanismanlik.co" title="Email Adresimiz"><i class="feather-mail"></i>info@psikosaglikdanismanlik.co</a>
                    </li>
                                                    <li>
                        <a href="tel:0850 308 21 53" title="Telefon Numaramız"><i class="feather-phone"></i>0850 308 21 53</a>
                    </li>
                            </ul>
        </div>

        <nav class="mainmenu-nav">
            <ul class="mainmenu">
                <li class="position-static">
                    <a href="{% url 'core:home' %}" title="Ana Sayfa">Ana Sayfa</a>
                </li>


                <li class="has-dropdown has-menu-child-item">
                    <a href="#" title="Kurumsal">Kurumsal
                        <i class="feather-chevron-down"></i>
                    </a>
                    <ul class="submenu">
                            <li class=""><a href="hakkimizda.html" title="Hakkımızda">Hakkımızda</a></li>
                            <li class=""><a href="ekibimiz.html" title="Kadromuz">İlkelerimiz</a></li>

                    </ul>
                </li>


                <li class="has-dropdown has-menu-child-item">
                    <a href="uygulamalar.html" title="Uygulamalar">Uygulamalar
                        <i class="feather-chevron-down"></i>
                    </a>
                    <ul class="submenu">
                        <li class=""><a href="uygulamalar.html" title="Tüm Uygulamalar">Tüm Uygulamalar</a></li>
                                                    <li class=""><a href="uygulama/fatih-hoca-ile-yetiskinlik-yolculugu.html" title="Fatih Hoca ile Yetişkinlik Yolculuğu">Fatih Hoca ile Yetişkinlik Yolculuğu</a></li>
                                                    <li class=""><a href="uygulama/kadinligin-kesfi.html" title="Kadınlığın Keşfi">Kadınlığın Keşfi</a></li>
                                                    <li class=""><a href="uygulama/kaygiyi-yenme-okulu.html" title="Kaygıyı Yenme Okulu">Kaygıyı Yenme Okulu</a></li>
                                                    <li class=""><a href="uygulama/kurumsal-egitimler.html" title="Kurumsal Eğitimler">Kurumsal Eğitimler</a></li>
                                                    <li class=""><a href="uygulama/o-kadin-olmak.html" title="'O' Kadın Olmak">'O' Kadın Olmak</a></li>
                                            </ul>
                </li>
                <li class="position-static">
                    <a href="seanslar.html" title="Seanslar">Seanslar</a>
                </li>


                <li class="position-static">
                    <a href="kurumsal-egitimler.html" title="Kurumsal Eğitimler">Kurumsal Eğitimler</a>
                </li>

                <li class="position-static">
                    <a href="blog.html" title="Blog">Blog</a>
                </li>

                <li class="position-static">
                    <a href="iletisim.html" title="İletişim">İletişim</a>
                </li>

            </ul>
        </nav>

        <div class="mobile-menu-bottom">
                            <div class="rbt-btn-wrapper mb--20">
                    <a class="rbt-btn btn-border-gradient radius-round btn-sm hover-transform-none w-100 justify-content-center text-center" href="giris-yap.html" title="Giriş Yap">
                        <span>Giriş Yap</span>
                    </a>
                </div>
            
            <div class="social-share-wrapper">
                <span class="rbt-short-title d-block">Sosyal Medya Hesaplarımız</span>
                <ul class="social-icon social-default transparent-with-border justify-content-start mt--20">
                                       <li>
                        <a href="https://www.facebook.com/FatihResitCivelekoglu" target="_blank" title="Facebook Adresimiz">
                            <i class="feather-facebook"></i>
                        </a>
                    </li>
                
                                    <li>
                        <a href="https://www.instagram.com/psk.fatihresitcivelekoglu/" target="_blank" title="Instagram Adresimiz">
                            <i class="feather-instagram"></i>
                        </a>
                    </li>
                
                                    <li>
                        <a href="https://twitter.com/fatihresit" target="_blank" title="Twitter Adresimiz">
                            <i class="feather-twitter"></i>
                        </a>
                    </li>
                

                                    <li>
                        <a href="https://www.youtube.com/c/PskFatihReşitCivelekoğlu" target="_blank" title="Youtube Adresimiz">
                            <i class="feather-youtube"></i>
                        </a>
                    </li>
                
            </ul>
        </div>
    </div>

</div>