<!DOCTYPE html>
{% load static %}
{% load i18n %}
<html lang="en">



<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Kayıt Ol</title>
    <link rel="canonical" href="index.html" />
    <base>
    <meta name="description" content="Uzman psikolog ile bireysel terapi, çift terapisi, aile danışmanlığı ve online terapi hizmetleri. Depresyon, anksiyete, stres, panik atak ve travma konularında profesyonel psikolojik destek alın. Güvenli ve gizli terapi süreci için hemen randevu oluşturun.">
    <meta name="keywords" content="psikolog, terapi, psikolojik danışmanlık, online terapi, bireysel terapi, çift terapisi, aile terapisi, depresyon, kaygı bozukluğu, anksiyete, stres yönetimi, çocuk psikoloğu, ergen terapisi, EMDR terapisi, panik atak, özgüven eksikliği, travma terapisi, psikoterapi, danışmanlık hizmeti, psikolojik destek, psychologist, therapy, psychotherapy, online therapy, mental health, anxiety, depression, stress management, trauma therapy, counseling, EMDR">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" type="image/x-icon" href="favicon.webp">

    <link rel="stylesheet" href="{% static 'css/vendor/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/slick.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/slick-theme.css' %}">
    <link rel="stylesheet" href="{% static 'css/plugins/sal.css' %}">
    <link rel="stylesheet" href="{% static 'css/plugins/feather.css' %}">
    <link rel="stylesheet" href="{% static 'css/plugins/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/plugins/euclid-circulara.css' %}">
    <link rel="stylesheet" href="{% static 'css/plugins/swiper.css' %}">
    <link rel="stylesheet" href="{% static 'css/plugins/magnify.css' %}">
    <link rel="stylesheet" href="{% static 'css/plugins/odometer.css' %}">
    <link rel="stylesheet" href="{% static 'css/plugins/animation.css' %}">
    <link rel="stylesheet" href="{% static 'css/plugins/bootstrap-select.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/plugins/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'css/plugins/magnigy-popup.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>

    <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>

    <script src="{% static 'js/vendor/jquery.js' %}"></script>

    <script src="{% static 'js/vue.js' %}"></script>
    

    <style>
        .iti--container {
            position: relative !important;
        }

        .iti__country-list {
            top: auto !important;
            bottom: 100% !important;
            /* Yukarı açılır */
            margin-bottom: 5px;
            z-index: 9999 !important;
        }
    </style>
    <!-- Meta Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            '../connect.facebook.net/en_US/fbevents.js');
        fbq('init', '1152557622805558');
        fbq('track', 'PageView');
    </script>
    <noscript><img loading="lazy" height="1" width="1" style="display:none"
            src="https://www.facebook.com/tr?id=1152557622805558&amp;ev=PageView&amp;noscript=1" /></noscript>
    <!-- End Meta Pixel Code -->



    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-S9TWP7FWTJ"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-S9TWP7FWTJ');
    </script>
    <!-- Google tag (gtag.js) end -->

</head>

<body class="rbt-header-sticky">
    <div id="app">
        <!-- Start Header Area -->
        <header class="rbt-header rbt-header-9">
            {% include '../header.html' %}
            {% include '../navbar.html' %}
        </header>
        <!-- Mobile Menu Section -->
        {% include '../mobile-section.html' %}
    </div>
    <!-- Start Side Vav -->
    <div class="rbt-cart-side-menu">
        <div class="inner-wrapper">
            <div class="inner-top">
                <div class="content">
                    <div class="title">
                        <h4 class="title mb--0">Liste</h4>
                    </div>
                    <div class="rbt-btn-close" id="btn_sideNavClose">
                        <button class="minicart-close-button rbt-round-btn"><i class="feather-x"></i></button>
                    </div>
                </div>
            </div>
            <nav class="side-nav w-100">
                <ul class="rbt-minicart-wrapper">

                    <li class="minicart-item" v-for="(item,index) in sepet" v-if="sepetCount > 0">
                        <div class="thumbnail">
                            <a :href="'uygulama/'+item.uygulamaurl" :title="item.uygulamabaslik">
                                <img loading="lazy" :src="item.uygulamagorsel" :alt="item.uygulamabaslik">
                            </a>
                        </div>
                        <div class="product-content">
                            <h6 class="title"><a :href="'uygulama/'+item.uygulamaurl"
                                    :title="item.uygulamabaslik">{{item.uygulamabaslik}}</a></h6>

                            <span class="quantity" v-if="item.uygulamaindirimlifiyat > 0">{{item.adet}} * <span
                                    class="price">{{item.uygulamaindirimlifiyat}}₺</span></span>
                            <span class="quantity" v-else="item.uygulamafiyat">{{item.adet}} * <span
                                    class="price">{{item.uygulamafiyat}}₺</span></span>
                        </div>
                        <div class="close-btn">
                            <button class="rbt-round-btn" @click="sepetUrunSil(index)"><i
                                    class="feather-x"></i></button>
                        </div>
                    </li>


                    <li class="minicart-item" v-for="(item,index) in seansSepet" v-if="seansSepetCount > 0">
                        <div class="thumbnail">
                            <a :href="'seans/'+item.seansurl" :title="item.seansbaslik">
                                <img loading="lazy" :src="item.seansgorsel" :alt="item.seansbaslik">
                            </a>
                        </div>
                        <div class="product-content">
                            <h6 class="title"><a :href="'seans/'+item.seansurl" :title="item.seansbaslik"></a></h6>

                            <span class="quantity" v-if="item.seansindirimlifiyat > 0">{{item.adet}} * <span
                                    class="price">{{item.seansindirimlifiyat}}₺</span></span>
                            <span class="quantity" v-else="item.seansfiyat"><span
                                    class="price">{{item.seansfiyat}}₺</span> <br>
                                ({{item.seanspaketbaslik}})</span>
                        </div>
                        <div class="close-btn">
                            <button class="rbt-round-btn" @click="seansSepetUrunSil(index)"><i
                                    class="feather-x"></i></button>
                        </div>
                    </li>

                    <li class="minicart-item" v-if="sepetCount <= 0 && seansSepetCount <= 0">
                        <h5>Listeniz boş.</h5>
                    </li>
                </ul>
            </nav>

            <div class="rbt-minicart-footer" v-if="sepetCount > 0 || seansSepetCount > 0">
                <hr class="mb--0">
                <div class="rbt-cart-subttotal">
                    <p class="subtotal"><strong>Toplam:</strong></p>
                    <p class="price">{{sepetToplam}}₺</p>
                </div>
                <hr class="mb--0">
                <div class="rbt-minicart-bottom mt--20">

                    <div class="checkout-btn mt--20">
                        <a class="rbt-btn btn-gradient icon-hover w-100 text-center" href="sepet.html" title="Sepet">
                            <span class="btn-text">Listeyi Görüntüle</span>
                            <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                        </a>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <!-- End Side Vav -->
    <a class="close_side_menu" href="javascript:void(0);" title="Menüyü Kapat"></a>


    <div class="rbt-breadcrumb-default ptb--100 ptb_md--50 ptb_sm--30 bg-gradient-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-inner text-center">
                        <h2 class="title">{% trans "Kayıt Ol" %}</h2>
                        <ul class="page-list">
                            <li>
                                <div class="icon-right"><i class="feather-chevron-right"></i></div>
                            </li>
                            <li class="rbt-breadcrumb-item active">{% trans "Kayıt Ol" %}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="rbt-elements-area bg-color-white rbt-section-gap">
        <div class="container">
            <div class="row gy-5 d-flex justify-content-center row--30">

                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
                {% endif %}

                <div class="col-lg-6">

                    <div class="rbt-contact-form contact-form-style-1 max-width-auto">
                        <h3 class="title">{% trans "Kayıt Ol" %}</h3>
                        <form id="registerForm" class="max-width-auto">
                            {% csrf_token %}
                            <div class="form-group">
                                <input id="isim" name="isim" type="text" required />
                                <label>{% trans "İsim" %}</label>
                                <span class="focus-border"></span>
                            </div>
                            <div class="form-group">
                                <input id="soyisim" name="soyisim" type="text" required />
                                <label>{% trans "Soyisim" %}</label>
                                <span class="focus-border"></span>
                            </div>

                            <div class="form-group focused">
                                <input id="phone" name="phone" type="tel" required>
                                <label>{% trans "Telefon Numarası" %}</label>
                            </div>


                            <!-- Adres Alanı -->
                            <div class="form-group">
                                <input id="adres" name="adres" type="text" minlength="5" />
                                <label>{% trans "Adres" %} <span style="font-size: 12px;">( {% trans "zorunlu değil" %} )</span></label>
                                <span class="focus-border"></span>
                            </div>


                            <div class="form-group">
                                <input id="email" type="mail" name="email" required />
                                <label>{% trans "E-mail Adresi" %}</label>
                                <span class="focus-border"></span>
                            </div>
                            <div class="form-group">
                                <input id="sifre" name="sifre" type="password" required minlength="6">
                                <label>{% trans "Şifre" %} *</label>
                                <span class="focus-border"></span>
                            </div>

                            <div class="row mb--30">

                                <div class="col-lg-6">
                                    <div class="rbt-lost-password">
                                        <a class="rbt-btn-link" href="{% url 'users:login' %}" title="Giriş Yap">{% trans "Giriş Yap" %}</a>
                                    </div>
                                </div>
                            </div>

                            <div class="form-submit-group">
                                <button type="submit" class="rbt-btn btn-md btn-gradient hover-icon-reverse w-100">
                                    <span class="icon-reverse-wrapper">
                                        <span class="btn-text">{% trans "Kayıt Ol" %}</span>
                                        <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                        <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                    </span>
                                </button>
                            </div>
                        </form>



                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Start Footer aera -->
    {% include '../footer.html' %}
    <!-- End Footer aera -->

    <div class="rbt-progress-parent">
        <svg class="rbt-back-circle svg-inner" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>
    <div class="whatsapp hidden-sm" id="scroll-to-top2">
        <a href="https://wa.me/05317672450" target="_blank" title="Whatsapp İletişim Hattı"><img loading="lazy"
                src="/static/whatsapp.png"></a>
    </div>
    <div class="whatsapp hidden-sm" id="scroll-to-top2">
        <a class=""
            href="https://api.whatsapp.com/send?phone=05317672450&amp;text=Merhaba%20bilgi%20almak%20%C4%B0stiyorum&amp;source=&amp;data="
            title="Whatsapp İletişim Hattı" target="_blank">
            <img loading="lazy" src="/static/whatsapp.png">
        </a>
    </div>
    </div>

    <!-- <script src="../static/js/custom.js"></script>-->

    <script src="{% static 'js/customd8a8.js?v=20250313' %}"></script>





    <!-- JS
        ============================================ -->

    <script src="{% static 'js/vendor/modernizr.min.js' %}"></script>
    <script src="{% static 'js/vendor/sal.js' %}"></script>
    <script src="{% static 'js/vendor/swiper.js' %}"></script>
    <script src="{% static 'js/vendor/magnify.min.js' %}"></script>
    <script src="{% static 'js/vendor/jquery-appear.js' %}"></script>
    <script src="{% static 'js/vendor/odometer.js' %}"></script>
    <script src="{% static 'js/vendor/backtotop.js' %}"></script>
    <script src="{% static 'js/vendor/isotop.js' %}"></script>
    <script src="{% static 'js/vendor/imageloaded.js' %}"></script>
    <script src="{% static 'js/vendor/wow.js' %}"></script>
    <script src="{% static 'js/vendor/waypoint.min.js' %}"></script>
    <script src="{% static 'js/vendor/easypie.js' %}"></script>
    <script src="{% static 'js/vendor/text-type.js' %}"></script>
    <script src="{% static 'js/vendor/jquery-one-page-nav.js' %}"></script>
    <script src="{% static 'js/vendor/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'js/vendor/jquery-ui.js' %}"></script>
    <script src="{% static 'js/vendor/magnify-popup.min.js' %}"></script>
    <script src="{% static 'js/vendor/paralax-scroll.js' %}"></script>
    <script src="{% static 'js/vendor/paralax.min.js' %}"></script>
    <script src="{% static 'js/vendor/countdown.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

</body>


</html>
<script>
    var input = document.querySelector("#phone");
    window.intlTelInput(input, {
        initialCountry: "tr",
        utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js"
    });
</script>


<script>
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== "") {
            const cookies = document.cookie.split(";");
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Çerez ismini kontrol et
                if (cookie.substring(0, name.length + 1) === (name + "=")) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    const csrfToken = getCookie("csrftoken");

    document.getElementById('registerForm').addEventListener('submit', function (e) {
        e.preventDefault();

        // const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;

        const formData = {
            isim: document.querySelector('[name="isim"]').value,
            soyisim: document.querySelector('[name="soyisim"]').value,
            phone: document.querySelector('[name="phone"]').value,
            adres: document.querySelector('[name="adres"]').value,
            email: document.querySelector('[name="email"]').value,
            sifre: document.querySelector('[name="sifre"]').value,
        };

        console.log("Form Data: ", formData);

        fetch("{% url 'users:register' %}", {
            method: "POST",
            headers: {
                'Content-Type': 'intervention/json',
                'X-CSRFToken': csrfToken,
            },
            body: JSON.stringify(formData)
        })
            .then(response => response.json())  // JSON formatında yanıtı işle
            .then(data => {
                console.log("Response Data: ", data);
                if (data.status === "success") {
                    Swal.fire({
                        icon: "success",
                        title: '{% trans "Kayıt Başarılı" %}',
                        text: data.message,
                        timer: 2000,
                        showConfirmButton: false
                    }).then(() => {
                        window.location.href = data.redirect_url;
                    });
                } else {
                    Swal.fire({
                        icon: "error",
                        title: '{% trans "Hata!" %}',
                        text: data.message
                    });
                }
            })
            .catch(error => {
                console.error("ERR: ", error);
                Swal.fire({
                    icon: "error",
                    title: '{% trans "Sunucu Hatası" %}',
                    text: '{% trans "Bir hata oluştu, lütfen tekrar deneyin." %}'
                });
            });
    });
</script>